* {
  font-family: "Overpass";
}

body {
  background-color: hsl(216, 12%, 8%);
  color: hsl(0, 0%, 100%);
}

svg {
  border: none;
  border-radius: 50%;
  padding: 10px;
  background-color: hsl(216, 15%, 22%);
}

h1 {
  margin: 30px 0 0 0;
  color: hsl(0, 0%, 100%);
}

p {
  margin: 10px 0 0 0;
  color: hsl(217, 12%, 63%);
}

ul {
  margin: 25px 5px;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

li {
  display: inline-block;
  margin: 0;
  padding: 15px 20px;
  border: none;
  border-radius: 50%;
  background-color: hsl(216, 15%, 22%);
  color: hsl(217, 12%, 63%);
}

button {
  padding: 10px 6px;
  font-size: 25px;
  font-weight: 450;
  font-variant-caps: all-small-caps;
  border: none;
  border-radius: 35px;
  color: hsl(0, 0%, 100%);
  background-color: hsl(25, 97%, 53%);
}

.container {
  margin: auto;
  padding: 25px;
  display: flex;
  flex-direction: column;
  max-width: 375px;
  border: none;
  border-radius: 30px;
  background-color: hsl(213, 19%, 18%);
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.star {
  padding: 10px;
}
