* {
  font-family: "Overpass";
}

svg {
  border: solid;
  border-radius: 50%;
  padding: 10px;
}

ul {
  padding: 0;
  display: flex;
  justify-content: space-between;
}

li {
  display: inline-block;
  margin: 0;
  padding: 15px 20px;
  border: solid black;
  border-radius: 50%;
}

button {
  padding: 10px 6px;
  font-size: 25px;
  font-variant-caps: all-small-caps;
  border-radius: 35px;
}

.container {
  margin: auto;
  padding: 25px;
  display: flex;
  flex-direction: column;
  max-width: 375px;
  border: solid black;
  border-radius: 30px;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.star {
  padding: 10px;
}
